<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <div id="hero">
            <a href="#about" class="btn btn-primary bottom-btn">Learn More</a>
        </div>
        <section id="about" data-aos="fade-in" class="section">
            {{ .Content }}
            <a href="#registration" class="btn btn-primary bottom-btn" id="signup-btn">Sign up</a>
        </section>
        <section id="itinerary" data-aos="fade-in" class="section">
            <h1 class="white"><b>Itinerary</b></h1>
            <ul>
            {{ range $entry := .Params.itinerary_entries }}
            <li data-aos="fade-right" class="white card">
                {{ . }}
            </li>
            {{ end }}
            </ul>
        </section>
        <section id="workshops" data-aos="fade-in" class="section">
            <h1 class="white"><b>Workshops</b></h1>
            {{ $workshops := .Params.workshops }}
            {{ range $windex, $workshop := .Params.workshops }}
                {{ if (eq (mod $windex 3) 0) }}
                    {{ if (gt (mod $windex 6) 2) }}
                    <div class="row" data-aos="fade-right">
                    {{ else }}
                    <div class="row" data-aos="fade-right">
                    {{ end }}
                {{ end }}
                <div class="col-lg workshop card smallmarg">
                    <h2 class="white"><b>{{ $workshop.title }}</b></h2>
                    <h5 class="white">Level: {{ $workshop.level }}</h5>
                    <p>{{ $workshop.description }}</p>
                </div>
                {{ if (eq $windex (sub (len $workshops) 1)) }}
                {{ range (seq (mod $windex 3)) }}
                <div class="col-lg smallmarg"></div>
                {{ end }}
                {{ end }}
                {{ if (eq (mod $windex 3) 2) }}
                </div>
                {{ end }}
            {{ end }}
        </section>
        <section id="registration" data-aos="fade-in" class="section">
            <h1><b>Sign Up</b></h1>
            <iframe src="{{ .Params.form_link }}">Loading…</iframe>
        </section>
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
    </body>
</html>
